.mainLeftSideBar {
  width: 20vw;
  height: 85vh;
  border-radius: 2rem;
  padding-left: 2rem;
  /* background-color: mediumspringgreen; */
  /* margin-top: 1.8rem; */
  /* border: 2px solid #dbe5ed; */
}
