.input_and_search_co {
  width: 99.5%;
  max-height: 61.5%;
  margin-top: 2rem;
  overflow-y: scroll;
}

.input_and_search_co::-webkit-scrollbar {
  width: 7px;
  margin-right: 5rem;
}

.input_and_search_co::-webkit-scrollbar-thumb {
  margin-right: 5rem;
  border-radius: 10px;
  /* box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
  background-color: #dbe5ed;
  /* border: 1px solid #000; */
}
