.totalChatPage_co {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3.2rem;
}

.totalChatPage {
  width: 80vw;
  height: 90vh;
  border-radius: 2rem;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
