.mainChat_big {
  width: 50vw;
  height: 85vh;
  border-radius: 2rem;
  background-color: #f9fafc;
  border: 2px solid #dbe5ed;
}

.mainChat_small {
  width: 45vw;
  height: 85vh;
  border-radius: 2rem;
  background-color: #f9fafc;
  border: 2px solid #dbe5ed;
}
