.input_and_img {
  width: 92%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 1rem;
  border: 2px solid #dbe5ed;
  background-color: #f9fafc;
  /* margin-bottom: 1rem; */
  position: sticky;
  top: 0;
  /* border-bottom: 1rem solid #fff; */
  z-index: 2;
}

.input_search {
  /* FIX you have to do sth here so the search would be sticked to the top */
  width: 98%;
  border: none;
  padding-left: 0.5rem;
  font-size: 1.5rem;
  color: #5a636c;
  background-color: transparent;
}

/* CMT this doesnt work */
/* .input_search::-webkit-search-cancel-button {
  color: #5a636c;
} */

.input_search::placeholder {
  /* font-size: 1.4rem; */
  color: #afbbc6;
}

.input_search:focus,
textarea:focus,
select:focus {
  outline: none;
}

.white_rectangle {
  width: 100%;
  height: 2.5rem;
  /* background-color: #fff; */
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0) 100%
  );
  position: sticky;
  top: 4.6rem;
  z-index: 1;
}
