.whole_message_co {
  width: 99.5%;
  height: 72%;
  overflow-y: scroll;
  padding-top: 2rem;
  margin-top: 0.7rem;
  padding-bottom: 2rem;
  margin-bottom: 0.7rem;
}

.whole_message_co::-webkit-scrollbar {
  width: 7px;
  margin-right: 5rem;
}

.whole_message_co::-webkit-scrollbar-thumb {
  margin-right: 5rem;
  border-radius: 10px;
  background-color: #dbe5ed;
}
